$percent: 100%;
$center: 1200px;
$windowsize: 100vh;
/* ------------------- size-px end --------------------- */

$white: #fff;

$gray: #ddd;
$gray_1: #eee;
$gray_2: #ccc;

$red: #ff1a17;
